.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.TextBPM {
  position: absolute;
    top: 525px;
    left: 180px;
}

.TextGenre {
  position: absolute;
    top: 525px;
    left: 490px;
}

.TextSubGenre {
  position: absolute;
    top: 525px;
    left: 820px;
}

.GenerateButton {
  position: absolute;
    top: 620px;
    left: 505px;
    width: 100%;
    display: block;
}
